@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.navbar
{
    background-color:rgb(157, 152, 152);
    font-size: 25px;
}

#navbarBasicExample{
}
    
h1{
    color: black;
}

h2.subtitle{
    color: black;
}

h3.subtitle{
    color: white;
}

p{
    font-size: 25px;    
}
#navbarBasicExample{
    float:right;
}

.searchBar{
    background-image:url(Headphone\ Anime.jpg);
    background-size: 450px 800px;
    opacity: 100%; 
    width: 450px;
    height: 800px;
    color: white;
}

#columns{
    display:flex;
    flex-direction: row;
}

img{
    height:800px;
}

