@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.navbar
{
    background-color:rgb(157, 152, 152);
    font-size: 25px;
}

#navbarBasicExample{
}
    
h1{
    color: black;
}

h2.subtitle{
    color: black;
}

h3.subtitle{
    color: white;
}

p{
    font-size: 25px;    
}
#navbarBasicExample{
    float:right;
}

.searchBar{
    background-image:url(Headphone\ Anime.jpg);
    background-size: 450px 800px;
    opacity: 100%; 
    width: 450px;
    height: 800px;
    min-width: 450px;
    max-width: 450px;
    color: white;
}

#columns{
    display:flex;
    flex-direction: row;
}

img{
    height:800px;
}


li{
    font-size:20px;
}

/* Quotes link */
.badge {
    display: block;
    position: relative;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    background: url(https://placewaifu.com/image) no-repeat 100% 50%;
    background-size: 120%;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, .75);
}
.badge:hover {
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, .75);
    background-position: 0% 50%;
}
.badge-text:hover {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(102, 51, 153, .5);
    width: 20rem;
    letter-spacing: 1rem;
    line-height: 20rem;
    height: 20rem;
    margin-top: -10rem;
    margin-left: -10rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badge-text {
    display: block;
    position: absolute;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    left: 50%;
    top: 50%;
    margin-top: -5rem;
    margin-left: -5rem;
    font-size: 2rem;
    font-family: Raleway, sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: rebeccapurple;
    transform: rotate(-180deg) translate(-10rem) rotate(180deg);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, .5);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.button{
    height: 30px;
}

#indent{
    text-indent: 10px;
}

#character_name{
    font-size: 20px;
}

/* Quotes Display (background) */
.quotes {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color:rgb(157, 152, 152);
    background-color: rgba(0,0,0,0.9); 
  }

/* The Close Button */
.close {
    color: #000000;
    float: right;
    font-size: 40px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

li{
    font-size:20px;
}

    .closeQuotes {
    color: #000000;
    float: right;
    font-size: 40px;
    font-weight: bold;
    }
    
    .closeQuotes:hover,
    .closeQuotes:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    
  /* Quotes Content */
  .quotes-content {
    background-color: rgb(157, 152, 152);
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    border: none;
    padding: 20px;
    width: 60%;

    height: auto;
  }
  
  .quotesimg {
      border-radius: 15px 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 60%;
      max-height: 60%
  }

  /*About Modal (used Bulma) */
  #modal.modal {
    align-items: start;
    flex-direction: row;
    justify-content: end;
  }
  #modal .modal-card {
    max-height: 100%;
    min-height: 100%;
    width: 300px;
    margin-right: 0;
  }
  @media screen and (min-width: 769px) {
    #modal .modal-card {
      margin-right: 0;
    }
  }

